NEXT_PUBLIC_API_URL=https://api.github.com/graphql
NEXT_PUBLIC_API_TOKEN=…
NEXT_PUBLIC_REPO_COUNT=5
NEXT_PUBLIC_VULN_COUNT=1
NEXT_PUBLIC_REPOS=user:<your-user>

# Optional
NEXT_PUBLIC_GITHUB_OAUTH_URL=https://github.com
GITHUB_OAUTH_CLIENT_ID=…
GITHUB_OAUTH_CLIENT_SECRET=… # secret!
